.white_font {
    font-size: 18px;
    color: white;
    padding-left: 35px;
    padding-right: 20px;
}

.main_header {
    font-size: 36px;
    letter-spacing: 1px;
    color: white;
}

.white_headers {
    color: white;
    padding-left: 20px;
}