/*styles for images*/

.avatar-flex {
  margin-top: 20px;
  margin-bottom: 20px;
  align-self: center;
}

.avatar-border {
  border: 2px solid white;
}

@media (max-width: 999px) {
  .avatar-border{
    height: 500px;
    height: 500px;
  }
}